*{
    margin: 0;
    padding: 0;
    color:aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:radial-gradient(
        134.34% 134.34% at 50% 0%,
        #1f3757 0%,
        #131537 100%
    );
}

.scoreboard{
    margin-top:10px;
    width: 750px;
    height: 150px;
    display: flex;
    justify-content:space-between;
    border: solid 2px white;
    border-radius: 13px;
}

.title{
    margin-left: 25px;
    margin-top: 25px;
}
.score{
    margin-top: 30px;
    margin-right: 25px;
    width:75px;
    height:85px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score h1{
    color: #565468;
    font-size: 40px;
}
.score p{
    font-family: cursive;
    font-weight: 600;
    margin-top: 10px;
    color: #2a45c2;
}

.row{
    display: flex;
}
.game{
    margin-top: 25px;
    height: 400px;
    width: 400px;
    /* border: solid 2px white; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("images/triangle.png");
    background-repeat: no-repeat;
    background-position: center;

}
.paper{
    margin-right: 50px;
}
.game .button{
    cursor: pointer;
    transition: all 0.25s;
}
.game .button :hover{
    transform: translate3d(0px,-8px,0px);
}


.result{
    margin-top: 25px;
    display: none;
    justify-content: center;
    width: 1000px;
    height: 300px;
    /* border: solid; */
}

.result > div{
    width: 333px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.userchoicepic .pcchoicepic{
    margin-top: 100px;
}
.playagain{
    margin-top: 25px;
    width:150px;
    height: 40px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

.playagain p{
    color: black;
    font-family: cursive;
}

.playagain:hover{
    background-color: blanchedalmond;
}
    
